/* General and multipurpose classes */

.extension-container {
    width: 600px;
	/*border: 3px solid silver;*/
}

.product-name {
    background-color: #314050;
    font-size: 40px;
}

textarea::-webkit-scrollbar, .note-index::-webkit-scrollbar { 
    width: 0 !important
}

/* Classes attached to elements concerning the note index container */

.note-index {
    background-color: #ffcc6f;
    overflow-y: auto;
    height: 425px;
}

.note-tile {
    color: #000;
    background-color: #eca92b;
	border-radius: 8px;
    border-color: #ea9800;
	padding: 10px;
	margin-top: 8px;
}
.note-tile:hover, .btn-tile:focus, .btn-tile:active, .btn-tileactive, .open>.dropdown-toggle.btn-tile {
    color: #000;
    background-color: #ffb831;
	border-radius: 8px;
    border-color: #ea9800;
	padding: 10px;
	margin-top: 8px;
}

.new-note-btn {
    margin-top: 8px;
	margin-bottom: 10px;
}

/* Classes attached to elements concerning the current note container */

.current-note-display {
    background-color: white;
    overflow: scroll;
	height: 425px;
}

.current-note-title {
    padding-bottom: 10px;
    padding-top: 10px;
}

.current-note-body {
    width: 100%;
}

/* Column and row classes */

.cust-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cust-col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.cust-col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.cust-col-12 {
    -ms-flex: 0 0 100.00%;
    flex: 0 0 100.00%;
    max-width: 100.00%;
}

.cust-col-4, .cust-col-8, .cust-col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}