/* General and multipurpose classes */

.extension-container {
    width: 600px;
    height: 600px;
    font-family: PT Sans;
}

textarea::-webkit-scrollbar, .scroll-toggle::-webkit-scrollbar, #tags-container::-webkit-scrollbar { 
    width: 0 !important;
}

/* Classes attached to elements concerning the note index container */

.note-container {
    /*background-color: #4a86e8;*/
    background: linear-gradient(90deg, #018abe 10%, #62b3d1 100%);
    overflow-y: hidden;
    height: 100%;
}

.title-container {
    /*background-color: rgb(48, 125, 226);*/
    background: linear-gradient(90deg, #62b3d1 20%, #97cadb 100%);
}

#note-index-container {
    overflow-y: auto;
    margin-top: 0px;
    height: 400px;
}

.selection-btn {
    background-color: #dee8f1;
    color: #08233c;
    width: 45%;
}

.selection-btn:hover {
    background-color: #b1b9c0;
    color: #08233c;
}

.filter-container {
    display: inline-flex;
    justify-content: flex-end;
}

#tags-filter-btn {
    float: right;
}

.note-tile {
    color: #ffffff;
    background-color: #0d375f;
    border: none;
	border-radius: 5px;
	padding: 10px;
	margin-top: 8px;
}

.note-tile:hover, .btn-tile:focus, .btn-tile:active, .btn-tileactive, .open>.dropdown-toggle.btn-tile {
    color: white;
    background-color: #254b6f;
	border-color: #0d375f;
	border-radius: 5px;
	padding: 10px;
	margin-top: 8px;
}

.new-note-btn {
	color: white;
    background-color: #39b017;
    border: none;
	border-radius: 5px;
	padding: 10px;
	margin-top: 8px;
}

.new-note-btn:hover {
	color: white;
    background-color: #2d8c12;
    border-color: #ea9800;
	border-radius: 5px;
	padding: 10px;
	margin-top: 8px;
}

.active-note, .active-note:hover {
    background-color: #7cd162 !important;
    color: #08233c;
    border-radius: 5px;
}

.note-options-btn {
	background-color: #0d375f;
}

#index-show-btn {
    display: none;
}

/* Classes attached to elements concerning the current note container */

#current-note-display {
    background-color: white;
    height: 100%;
    padding: 0px;
}

.current-note-title-container {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.5rem;
    position: relative;
    display: inline-flex;
    align-items: center;
}

#current-note-title {
    margin: auto;
}

#delete-btn, #download-btn, #citation-btn {
    display: block;
    margin-bottom: 5px;
}

#note-options {
   position: absolute;
   left: 88%
}

#tags-container {
    max-width: 240px;
    overflow-x: auto;
}

#note-options-display {
    display: none;
    z-index: 1000;
    position: absolute;
	top: 81%;
    left: 80%;
    padding: 15px 15px 10px 15px;
    background-color: #c7d0d8;
}

#autosave-label {
    font-size: 10px;
}

#scrolling-container {
    height: 80%;
    overflow-y:auto;
}

#current-note-body {
    min-height: 80%;
    height: auto;
}

#cur-note-body-container {
    padding: 0px;
}

.note-content {
    height: inherit;
}



/* Column and row classes */

.cust-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cust-col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

.cust-col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.cust-col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.cust-col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.cust-col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.cust-col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.cust-col-12 {
    -ms-flex: 0 0 100.00%;
    flex: 0 0 100.00%;
    max-width: 100.00%;
}

.cust-col-1, .cust-col-2, .cust-col-4, .cust-col-8, .cust-col-10, .cust-col-11, .cust-col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.btn, #index-hide-btn, #index-show-btn {
    cursor: pointer;
}

#index-hide-btn, #index-show-btn {
    font-size: 1rem;
}

#index-hide-btn {
    margin-top: 13px;
}

/* Quill editor overrides */

.ql-container.ql-snow {
    border: none;
}

#toolbar {
    border: none;
    border-bottom: 1px solid lightgrey;
}

/* Set custom formats for Quill editor */

#toolbar .ql-font span[data-label="Sans Serif"], .ql-font-sans-serif {
    font-family: "Sans Serif";
}

#toolbar .ql-font span[data-label="Mirza"], .ql-font-mirza {
    font-family: "Mirza";
}

#toolbar .ql-font span[data-label="Arial"], .ql-font-arial {
    font-family: "Arial";
}

#toolbar .ql-font span[data-label="Snell"], .ql-font-snellroundhand {
    font-family: "Snell Roundhand";
}

#toolbar .ql-font span[data-label="Times"], .ql-font-timesNewRoman {
    font-family: "Times New Roman";
}

#toolbar .ql-font span[data-label="Typewriter"], .ql-font-typewriter {
    font-family: "American Typewriter";
}

#toolbar .ql-font span[data-label="Courier"], .ql-font-courier {
    font-family: "Courier New";
}

#toolbar .ql-font span[data-label="Apple"], .ql-font-appleChancery {
    font-family: "Apple Chancery";
}

.ql-hash-phrase {
    color: whitesmoke !important;
    background: linear-gradient(90deg, #018abe 0%,#62b3d1 40%,#62b3d1 60%,#018abe 100% );
	border: 5px;
	border-color: #018abe;
    border-radius: 5px;
}