:root {
    --color_dark: #11270B;
    --color_gradient_end: #3C5A14;
    --color_light: #50241b;
    --color_accent1: #3C5A14;
    --color_accent2: #669D31;
    --color_accent3: #71B340;
    --color_button_txt: white;
    --color_highlighted_txt: white;
    --color_options_txt: white;

    --preview_color_dark: none;
    --preview_color_light: none;
    --preview_color_accent1: none;

    --trans_duration: 0.4s;
}

/* Main container classes */

.note-content {
    background: linear-gradient(90deg, var(--color_dark) 10%, var(--color_gradient_end) 95%);
    height: inherit;
}

.extension-container {
    width: 600px;
    height: 600px;
    font-family: 'Freight Sans LF Pro Light';
}

.note-container {
    background: none;
    height: 100%;
}

textarea::-webkit-scrollbar, .scroll-toggle::-webkit-scrollbar, #tags-container::-webkit-scrollbar { 
    width: 0 !important;
}

/***** SIDEBAR CLASSES *****/

#sidebar-top {
    margin-bottom: 11px;
}

/* Extension options menu */

#ext-options-container {
    display: inline-flex;
}

#ext-options-btn {
    color: white;
    margin: 12px 0px 12px 0;
    min-width: 14px;
}

#ext-options-display {
    display: inline-flex;
    background: none;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

#ext-options-display .separator {
    margin-left: 20px;
}

#index-show-btn {
    display: none;
    font-size: 1rem;
}

.btn, #index-show-btn, #ext-options-display > i {
    cursor: pointer;
}

/* Resize menu */
#resize-display .resize-btn, #themes-display .theme-btn {
    padding: 2px 10px 2px 10px;
    border-radius: 2px;
    text-align: center;
    margin-top: 10px;
    color: var(--color_button_txt);
    color: var(--color_accent3);
    border: 1px solid var(--color_accent3);
    cursor: pointer;
}

#resize-display .resize-btn {
    min-width: 100px;
    background: none;
}

#resize-display .resize-btn:hover {
    background-color: var(--color_accent3);
    color: var(--color_options_txt);
}

#large-btn, #Spotify {
    margin-top: 0px !important;
}

#themes-display .theme-btn {
    min-width: 125px;
    background-repeat: no-repeat;
}

#themes-display .theme-btn:hover {
    color: white;
    border: 1px solid black;
    box-shadow: 0 0 10px 0 #000;
    background: linear-gradient(to right, var(--preview_color_dark) 0%, var(--preview_color_dark) 33.666%, var(--preview_color_light) 33.666%, var(--preview_color_light) 67.666%, var(--preview_color_accent1) 67.666%, var(--preview_color_accent1) 100%);
}

#resize-container {
    position: relative;
}

#themes-container {
    position: relative;
    z-index: 2000;
}

#resize-display, #themes-display {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: var(--color_gradient_end);
    padding: 12px;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 #000;
}

#resize-display {
    left: -52px;
}

#themes-display {
    left: -60px;
}

/* Note options menu */
#note-index-container {
    overflow-y: auto;
    margin-top: 8px;
    height: 348px;
}

.selection-btn {
    background-color: var(--color_light);
    color: var(--color_button_txt);
    width: 45%;
    border-radius: 0 0 3px 3px;
    border: 2px solid var(--color_light);
    border-top: none;
}

.selection-btn:hover {
    color: var(--color_accent1);
    background: none;
    border: 2px solid var(--color_accent1);
    border-top: none;
}

#tags-filter-btn {
    float: right;
}

.active-display {
    transform: translateY(16px);
    background-color: var(--color_accent1) !important;
    color: var(--color_highlighted_txt) !important; 
    border: 2px solid var(--color_accent1);
    border-top: none;
    border-radius: 3px 3px 0 0;
}

#selection-top-hr {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    background-color: var(--color_light);
}

#searcher {
    width: 100%;
    margin-top: 0px;
    border: 2px solid var(--color_accent1);
    border-radius: 0 3px 3px 3px;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 12px;
}

hr {
    background-color: var(--color_light);
    width: 70%;
}

#new-note-hr {
    margin-top: 1.2em;
    margin-bottom: 5px;
}

/***** NOTE TILES *****/

.note-tile, .new-note-btn {
    color: var(--color_button_txt);
    background-color: var(--color_light);
    border: 1px solid var(--color_light);
	border-radius: 3px;
	padding: 8px 0 8px 0;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.note-tile:hover, .new-note-btn:hover {
    color: var(--color_accent1);
    background: none;
    border: 1px solid var(--color_accent1);
    border-radius: 8px;
}

.active-note, .active-note:hover {
    background-color: var(--color_accent1) !important;
    color: var(--color_highlighted_txt);
    border: 1px solid var(--color_accent1) !important;
    border-radius: 3px;
}

/* CURRENT NOTE TITLE CLASSES */

#current-note-display {
    background: none;
    height: 100%;
    padding: 0px;
}

#current-note-title-container {
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0px;
    font-size: 1.5rem;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.title-container {
    position: relative;
    background: none;
}

#current-note-title {
    margin: 0 0 0 0;
}

#autosave-label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 10px;
}

#tags-container {
    max-width: 280px;
    overflow-x: auto;
}

/****** NOTE OPTIONS CLASSES *****/

#note-options-container {
    margin-left: auto;
}

#note-options-btn {
    font-size: 1rem;
    min-width: 46px;
    padding: 5px 14px 0px 14px;
}

#note-options-display, #download-display {
    display: none;
    position: absolute;
    background-color: var(--color_dark);
    min-width: 130px;
    border-radius: 3px;
    padding: 12px;
    box-shadow: 0 0 20px 0 #000;
}

#note-options-display {
    right: 15px;
    z-index: 1000;
}

#note-options-display .options-btn {
    display: block;
    width: 150px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--color_accent3);
    border: 1px solid var(--color_accent3);
    padding: 4px 0 4px 0;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}

#delete-prompt-btn, #download-html-btn {
    margin-bottom: 0 !important;
}

#note-options-display i {
    margin-right: 4px;
}

#note-options-display .options-btn:hover {
    color: var(--color_options_txt);
    background-color: var(--color_accent3);
}

/* Download menu */
#download-container {
    position: relative;
}

#download-display {
    left: -155px;
    top: -24px;
    margin-right: 20px;
}

#pdf-download {
    display: none !important;
}

/***** SLIDER BUTTON *****/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-bottom: 0;
}
.switch input { /*makescheckbox invisible*/
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 2px; left: 0; right: 0; bottom: 2px;
    background-color: #444;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: white;
}
input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
    background-color: #2a2a2a;
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/***** EDITOR CLASSES *****/

#toolbar {
    position: relative;
    border: none;
    border-bottom: 1px solid grey;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    border-radius: 4px 4px 0 0;
}

#cur-note-body-container {
    padding: 0px 15px 20px 0px;
    background: none;
}

#scrolling-container {
    height: 83%;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

#current-note-body {
    min-height: 100%;
    height: auto;
    background-color: white;
    border-radius: 0 0 4px 4px;
}

.ql-hash-phrase {
    color: var(--color_options_txt) !important;
    background-color: var(--color_accent2);
    border-radius: 8px;
}

/***** MODAL CLASSES *****/

#modal-delete {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#modal-delete #modal-content {
    background-color: var(--color_dark);
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    font-size: 1rem;
}

#delete-confirm-msg {
    color: white;
    text-align: center;
}

#delete-note-title {
    padding-bottom: 2px;
    margin: 20px 0 30px 0;
    color: var(--color_accent3);
    border-bottom: 1px solid var(--color_accent3);
}

#modal-delete #modal-close-btn {
    color: white;
    float: right;
    font-size: 1.4rem;
    font-weight: bold;
}

#modal-delete #modal-close-btn:hover {
    color: var(--color_accent3);
    cursor: pointer;
}

#delete-btn-container {
    display: flex;
    justify-content: space-evenly;
}

#delete-btn-container div {
    padding: 4px 15px 4px 15px;
    border-radius: 2px;
}

#delete-btn-container div:hover {
    padding: 4px 30px 4px 30px;
    cursor: pointer;
    box-shadow: 0 0 5px 0 #000;
}

#delete-confirm-btn {
    color: white;
    background-color:#dc3545;
}

#delete-cancel-btn {
    color: var(--color_highlighted_txt);
    background-color: var(--color_accent3);
}

/***** COLUMNS AND ROW STYLING *****/

.cust-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cust-col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

.cust-col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.cust-col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.cust-col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.cust-col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.cust-col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.cust-col-12 {
    -ms-flex: 0 0 100.00%;
    flex: 0 0 100.00%;
    max-width: 100.00%;
}

.cust-col-1, .cust-col-2, .cust-col-4, .cust-col-8, .cust-col-10, .cust-col-11, .cust-col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

/***** TRANSITIONS *****/

.transition-quick {
    transition: all var(--trans_duration);
}

/***** QUILL EDITOR OVERIDES *****/

.ql-container.ql-snow {
    border: none;
}

.ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow .ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar button:focus .ql-fill, .ql-snow .ql-toolbar button:focus .ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill {
    fill: #3279e2 !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke {
    stroke: #3279e2 !important;
}

.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #3279e2 !important;
}

/* Set custom formats for Quill editor */

#toolbar .ql-font span[data-label="Sans Serif"], .ql-font-sans-serif {
    font-family: "Sans Serif";
}

#toolbar .ql-font span[data-label="Mirza"], .ql-font-mirza {
    font-family: "Mirza";
}

#toolbar .ql-font span[data-label="Arial"], .ql-font-arial {
    font-family: "Arial";
}

#toolbar .ql-font span[data-label="Snell"], .ql-font-snellroundhand {
    font-family: "Snell Roundhand";
}

#toolbar .ql-font span[data-label="Times"], .ql-font-timesNewRoman {
    font-family: "Times New Roman";
}

#toolbar .ql-font span[data-label="Typewriter"], .ql-font-typewriter {
    font-family: "American Typewriter";
}

#toolbar .ql-font span[data-label="Courier"], .ql-font-courier {
    font-family: "Courier New";
}

#toolbar .ql-font span[data-label="Apple"], .ql-font-appleChancery {
    font-family: "Apple Chancery";
}